.OpeningSplash {
    display: flex;
    align-items: center;
    justify-content : center;
    height: 100%;
    width: 100%;
    z-index: 500;
}

.BlackBackground {
    width: 0%;
    height: 100%;
    z-index: 400;
    background: black;
    overflow: hidden;
    animation-fill-mode: forwards;
}

.Container {
    width: 100%;
    height: 100%;
    display: flex;
}

.BlackBackgroundClose {
    animation-name: drawerClose;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
}

.BlackBackgroundInitialOpen {
    animation-name: drawerOpen;
    animation-duration: 500ms;
    animation-delay: 2s;
    animation-timing-function: ease-out;
}

.BlackBackgroundOpen {
    animation-name: drawerOpen;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}


@keyframes drawerOpen {
    0% {width: 0%}
    100% {width: 30%}
}

@keyframes drawerClose {
    0% {width: 30%}
    100% {width: 0%}
}