.Container {
    height: 100%;
    width: 100%;
    background: white;
    overflow: hidden;
    position: relative;
}

.FloatingButton {
    position: absolute;
    top: 50%;
    left: 90%;
    width: 50px;
    height: 50px;
    z-index: 50;
    background: pink;

    border-radius: 50%;
}

.Background {
    position: absolute;
    top: 50%;
    left: 90%;

    background: black;
    width: 1px;
    height: 1px;

    transition: .5s ease-in;
    transform-origin: 90% 50%;
}

.ContentContainer {
    width: 100%;
    height: 100%;
    background: blue;
}

.FloatingButton.white {
    background: white;
}

.FloatingButton.black {
    background: black;
}