.Container {
    height: 100%;
    width: 100%;
    background: white;
    position: relative;

    transition-delay: .5s;
    transition-property: background-color;
    overflow: hidden;

    scroll-snap-align: start;
}

.FloatingButton {
    position: absolute;
    top: 50%;
    left: 90%;
    width: 50px;
    height: 50px;
    z-index: 100;

    mix-blend-mode: difference;
    background: white;

    transition-delay: .5s;

    animation: pulse 1s infinite;
    cursor: pointer;
}

.Background {
    position: absolute;
    top: 50%;
    left: 90%;

    background: white;
    width: 50px;
    height: 50px;
    
    transform: scaleX(0) scaleY(0);

    transition: .3s transform ease-in;
    transform-origin: 90% 50%
}

.ContentContainer {
    width: 100%;
    height: 100%;
    background: blue;
}



@keyframes pulse
{
     0% {
          box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0);
     }
}