.GraphContainer {
    width: 50%;
}

.ServicesSplash {
    width: 80%;
    max-width: 1440px;
    margin: auto;
}

.Heading {
    padding: 10px 30px;
    box-sizing: border-box;
    text-align: center;
    margin: 50px auto;
    margin-top: 0;
    mix-blend-mode: difference;
    color: white;
}

.Heading span {

    border-bottom: 3px solid white;
    mix-blend-mode: difference;
}

.Content {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 90%;
    /* margin: auto; */
}

.Image {
    width: 100%;
}

.NameCard {
    transition: all 2s ease;
    border-width: 3px;
    border-style: solid;
    border-color: #000000;
    max-width: 250px;
    max-height: fit-content;
    padding: 20px 20px;
}

.Grow:hover {
    transition: font-size .1s ease;
    font-size: 1.1em;
    cursor: pointer;
}

.CardParagraph {
    margin-bottom: 10px;
}

.Appear {
    opacity: 0;
    animation-name: appear;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
    visibility: hidden;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}