.GraphContainer {
    flex-grow: 1;
    margin-left: 50px;
}

.AboutSplash {
    width: 75%;
    max-width: 1440px;
    margin: auto;
    background: white;
    padding-bottom: 50px;
}

.Heading {
    padding: 10px 30px;
    box-sizing: border-box;
    text-align: center;
    margin: 50px auto;
    margin-top: 0;
    mix-blend-mode: difference;
    color: white;
}

.Heading span {

    border-bottom: 3px solid white;
    mix-blend-mode: difference;
}

.Content {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 100%;
    /* margin: auto; */
}

.ImageContainer {
    max-height: 300px;
    overflow: hidden;
}

.Image {
    width: 100%;
}

.NameCard {
    transition: all 2s ease;
    border-width: 3px;
    border-style: solid;
    border-color: #000000;
    max-width: 250px;
    /* max-height: fit-content; */
    padding: 20px 20px;
}

.Grow:hover {
    transition: transform .1s ease;
    /* font-size: 1.1em; */
    cursor: pointer;
    /* transform: scale(1.1) */
    text-decoration: underline;
}

.CardParagraph {
    margin-bottom: 10px;
}

.Appear {
    opacity: 0;
    animation-name: appear;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .Content {
        width: 100%;
    }

    .GraphContainer {
        width: 100%;
        margin-top: 30px;
        margin-left: 0;
    }

    .Graph {
        height: auto;
    }

    .AboutSplash {
        width: 75%;
    }

    .Grow:hover {
        transition: unset;
        font-size: unset;
    }
    
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}