.Container {
    width: 100%;
    margin: 0;
    padding: 30px;
    padding-left: 100px;
    box-sizing: border-box;
    background: white;

    scroll-snap-align: start;
    position: relative;
}

.Content {
    display: flex;
    justify-content: space-around;
    justify-content: center;
}

.FormContainer {
    display: block;
    width: 250px;
}

.Form {
    box-sizing: border-box;
}

.Form * {
    margin-bottom: 10px;
}

.Input {
    width: 100%;
    height: 50px;
    padding: 3px;
    font-size: 1.2em;
    outline: none;
    background: none;

    transition: all .3s ease-out;
    
    border: none;
    border-bottom: .5px solid rgb(51, 51, 51);
}

.Input:focus {
    border-bottom: 2px solid black;
}

.TextArea {
    width: 100%;
    height: 300px;
    padding: 3px;
    resize: none;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    outline: none;
    border: .5px solid rgb(51, 51, 51);
    transition: all .3s ease-out;
}

.TextArea:focus {
    border: 2px solid black;
}

.SubmitBtn {
    color: black;
    border: 0;
    background: 0;
    width: 100%;
    font-size: 1.3em;
    font-weight: bold;
    
    transition: all .2s ease-out;
}

.SubmitBtn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.Astro {
    position: absolute;
    bottom: 23px;
    left: calc(50% - 50px);
    height: 100px;

    animation: astroFloat 5s ease;
    animation-iteration-count: infinite;
}

@keyframes astroFloat {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}
