.Container {
    width: 100%;
    background: white;
    position: relative;

    transition-delay: .5s;
    transition-property: background-color;
    overflow: hidden;

    scroll-snap-align: start;
}

.TilesContainer {
    width: 1024px;
    margin: auto;
}

.TilesRow {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin-bottom: 30px;
}

.Appear {
    opacity: 0;
    animation-name: appear;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    transform-origin: 50% 50%;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scaleX(4);
    }

    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}