.Container {
    width: 75%;
    min-height: 100vh;
    margin: auto;
    box-sizing: border-box;
    background: white;
    scroll-snap-align: start;
    position: relative;

}

.TilesContainer {
    /* width: 1024px; */
    /* margin: auto; */
}

.TilesRow {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 30px;
}

.Appear {
    opacity: 0;
    animation-name: appear;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    transform-origin: 50% 50%;
    visibility: hidden;
}

@media screen and (max-width: 587px) {
    .TilesRow > * {
        margin-bottom: 10px;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}