.App {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;

  scroll-snap-type: y mandatory;
}

.title-mask {
  width: 100%;
  height: 70px;
  position: absolute;
  top: 110px;
  background: white 
}